{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}首页{% endblock %}

{% block bread %}
<li><a href="index.html"><strong>Home</strong></a></li>
<li><a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strong>演出</strong></a></li>
<li><a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strong>赛事</strong></strong></li>
<li><a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strong>我的</strong></a></li>
<li><a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a><input type = "text" ><input type = "button" value = "搜索"></li>
{% endblock %}
{% block content %}
<div class="w3_content_agilleinfo_inner">
	<div class="agile_featured_movies">
		<!--/agileinfo_tabs-->
		<div class="agileinfo_tabs">
			<!--/tab-section-->
			<div id="horizontalTab">

				<h3 class="agile_w3_title"> TOP <span>RATING</span></h3>
				<div class="resp-tabs-container">
					<div class="tab1">
						<div class="tab_movies_agileinfo">
							<div class="w3_agile_featured_movies">
								<div class="col-md-5 video_agile_player">
									<div class="video-grid-single-page-agileits">
										<div data-video="f2Z65fobH2I" id="video"> <img referrerpolicy="no-referrer" src="{{ top1info.picture }}"
												alt="" class="img-responsive" style="height: 314px ; width: 766px" />
										</div>
									</div>
									{% block top1info %}
									<div class="player-text">
										<p class="fexi_header">{{top1info.moviename }}</p>
										<p class="fexi_header_para"><span class="conjuring_w3">Story
												Line<label>:</label></span>{{ top1info.storyLine}}</p>
										<p class="fexi_header_para"><span>Release
												on<label>:</label></span>{{top1info.releasedate}}</p>
										<p class="fexi_header_para">
											<span>Genres<label>:</label> </span>
											<a>{{ top1info.genre }}</a>
										</p>
										<p class="fexi_header_para fexi_header_para1"><span>Star
												Rating<label>:</label></span>
											{% for stars in top1info.stars %}
											{% if stars %}
											<a href="#"><i title = "{{top1info.averating}}" class="fa fa-star" aria-hidden="true"></i></a>
											{% else %}
											<a href="#"><i title = "{{top1info.averating}}" class="fa fa-star-o" aria-hidden="true"></i></a>
											{% endif %}

											{% endfor %}
										</p>
									</div>
									{% endblock top1info %}
								</div>
								<div class="col-md-7 wthree_agile-movies_list">
									{% for movie in movieinfo %}
									<div class="w3l-movie-gride-agile">
										<a href="{% url 'movieinfo' movie.id %}" class="hvr-sweep-to-bottom"><img
											referrerpolicy="no-referrer" src="{{ movie.picture }}" title="Movies Pro" class="img-responsive"
												alt=" " width="162px" height="197px">
											<div class="w3l-action-icon"><i class="fa fa-play-circle-o"
													aria-hidden="true"></i></div>
										</a>
										<div class="mid-1 agileits_w3layouts_mid_1_home">
											<div class="w3l-movie-text">
												<h6><a href="single.html">{{ movie.moviename }}</a></h6>
											</div>
											<div class="mid-2 agile_mid_2_home">
												<p>{{ movie.releasedate }}</p>
												<div class="block-stars">
													<ul class="w3l-ratings">
														{% for stars in movie.stars %}
															{% if stars %}
															<li><a href="#"><i title = "{{movie.averating}}" class="fa fa-star" aria-hidden="true"></i></a></li>
															{% else %}
															<li><a href="#"><i title = "{{movie.averating}}" class="fa fa-star-o" aria-hidden="true"></i></a></li>
															{% endif %}
															{% endfor %}

													</ul>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<!--<div class="ribben">
											<p>NEW</p>
										</div>-->
									</div>
									{% endfor %}
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="cleafix"></div>
						</div>
					</div>
					<div class="tab2">
						<div class="tab_movies_agileinfo">
							<div class="w3_agile_featured_movies">
								<div class="col-md-5 video_agile_player">
									<div class="video-grid-single-page-agileits">
										<!--<div data-video="fNKUgX8PhMA" id="video1"> <img src="images/22.jpg" alt=""
												class="img-responsive" /> </div>-->
									</div>
								</div>
								<!--//tab-section-->
								<h3 class="agile_w3_title"> Latest <span>Movies</span></h3>
								<!--/movies-->
								<!--<div class="w3_agile_latest_movies">-->
								<div class="wthree_agile-requested-movies">
									{#Latest最新电影#}
									<!--<div id="owl-demo" class="owl-carousel owl-theme">-->
									{% for mlatest in movielatest %}
									<div class="item">
										<div class="col-md-2 w3l-movie-gride-agile requested-movies">
										<!--<div class="w3l-movie-gride-agile w3l-movie-gride-slider ">-->
											<a href="{% url 'movieinfo' mlatest.id %}" class="hvr-sweep-to-bottom"><img
												referrerpolicy="no-referrer" src="{% if mlatest.picture %}{{ mlatest.picture }}{% else %}{% static 'images/default.jpg' %}{% endif %}"
													title="Movies Pro" class="img-responsive" alt=" " />
												<div class="w3l-action-icon"><i class="fa fa-play-circle-o"
														aria-hidden="true"></i></div>
											</a>
											<div class="mid-1 agileits_w3layouts_mid_1_home">
												<div class="w3l-movie-text">
													<h6><a
															href="{%  url 'movieinfo' mlatest.id %}">{{ mlatest.moviename }}</a>
													</h6>
												</div>
												<div class="mid-2 agile_mid_2_home">
													<p>{{ mlatest.releasedate }}</p>
													<div class="block-stars">
														<ul class="w3l-ratings">
															{% for stars in mlatest.stars %}
															{% if stars %}
															<li><a href="#"><i title = "{{mlatest.averating}}" class="fa fa-star" aria-hidden="true"></i></a></li>
															{% else %}
															<li><a href="#"><i title = "{{mlatest.averating}}" class="fa fa-star-o" aria-hidden="true"></i></a></li>
															{% endif %}
															{% endfor %}
														
														</ul>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div class="ribben one">
												<p>NEW</p>
												<!--</div>-->
											</div>
										</div>
										{% endfor %}

									</div>
								</div>
								<!--//movies-->
								<br/><br/><br/><br/><br/>
								<br/><br/><br/><br/><br/>
								<br/><br/><br/><br/><br/>
								<br/><br/><br/><br/><br/>
								<br/><br/><br/><br/><br/>
								<br/><br/<br/><br/><br/><br/>
								<br/><br/><br/><br/><br/><br/><br/>

								<div class="agileinfo_tabs">
								<h3 class="agile_w3_title">Requested <span>Movies</span> </h3>
								<!--/requested-movies-->
								<div class="wthree_agile-requested-movies">
									{# 推荐Begin #}
									{% for userrecommendmovie in  user_recommend_movie %}
									<div class="col-md-2 w3l-movie-gride-agile requested-movies">
										<a href="{% url 'movieinfo' userrecommendmovie.id %}"
											class="hvr-sweep-to-bottom"><img referrerpolicy="no-referrer" src="{{ userrecommendmovie.picture }}"
												title="" class="img-responsive" alt = "">
											<div class="w3l-action-icon"><i class="fa fa-play-circle-o"
													aria-hidden="true"></i></div>
										</a>
										<div class="mid-1 agileits_w3layouts_mid_1_home">
											<div class="w3l-movie-text">
												<h6><a href="single.html">{{ userrecommendmovie.moviename }}</a></h6>
											</div>
											<div class="mid-2 agile_mid_2_home">
												<p>{{ userrecommendmovie.releasedate }}</p>
												<div class="block-stars">
													<ul class="w3l-ratings">
														{% for stars in userrecommendmovie.stars %}
														{% if stars %}
														<li><a href="#"><i title = "{{userrecommendmovie.averating}}" class="fa fa-star" aria-hidden="true"></i></a></li>
														{% else %}
														<li><a href="#" ><i title = "{{userrecommendmovie.averating}}" class="fa fa-star-o" aria-hidden="true"></i></a></li>
														{% endif %}
														{% endfor %}

													</ul>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<!--<div class="ribben one">
											<p>NEW</p>
										</div>-->
									</div>
									{% endfor %}
									{# 推荐end#}
									<div class="clearfix"></div>
								</div>
								</div>
							</div>
						</div>
						{% endblock %}